<div 
    class="home-console shadow-md p-2 mb-2"
    [class.p-disabled]="inProgress"
    [class.free]="console.status === 'FREE'"
    [class.busy]="console.status === 'BUSY'">
    <div class="label">
        <div class="top">
            <h1>{{ console.name }}</h1>
        </div>
        <div class="bottom">
            <p>{{ mapConsoleStatus[console.status] }}</p>
        </div>
    </div>

    <div class="time">
        <p *ngIf="minutesPlayed > 0">{{ timePlayed }} h</p>
        <p *ngIf="minutesPlayed <= 0">0 h</p>
        <p>{{ priceToPay }} МКД</p>
    </div>

    <div class="buttons">
        <button
            pButton
            icon="pi pi-play"
            [class.p-disabled]="console.playing"
            (click)="start()"
        ></button>

        <button
            pButton
            icon="pi pi-stop"
            [class.p-disabled]="!console.playing"
            (click)="stop()"
        ></button>
    </div>
</div>

<p-dialog 
    header="Крај на играње" 
    [(visible)]="displayModal" 
    [modal]="true" 
    [style]="{width: '50vw'}"
    [draggable]="false" 
    [resizable]="false"
    (onHide)="inProgress = false">

    <p class="m-0 text-lg"><b>Време:</b> {{ timePlayed }}</p>
    <p class="m-0 text-lg price-modal-data"><b>Цена:</b> {{ priceToPay }} МКД</p>

    <div class="form-group mt-5">
        <label class="label text-lg">Сума:</label>
        <div class="input">
            <p-inputNumber
                [(ngModel)]="manualPriceToPay"
                [showButtons]="true"
                [format]="false"
            ></p-inputNumber>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button 
            icon="pi pi-check" 
            (click)="sendStop()" 
            label="ОК" 
            [disabled]="disabledModalBtn"
        ></p-button>
    </ng-template>
</p-dialog>