<div 
    class="home-console shadow-md p-2 mb-2"
    [class.p-disabled]="inProgress">
    <div class="label">
        <div class="top">
            <h1>{{ console.name }}</h1>
        </div>
        <div class="bottom">
            <p>{{ console.status }}</p>
        </div>
    </div>

    <div class="time">
        <h1>{{ console.today_time_played }} hrs</h1>
    </div>

    <div class="buttons">
        <button
            pButton
            icon="pi pi-play"
            [class.p-disabled]="console.playing"
            (click)="start()"
        ></button>

        <button
            pButton
            icon="pi pi-stop"
            [class.p-disabled]="!console.playing"
            (click)="stop()"
        ></button>
    </div>
</div>

<p-dialog 
    header="Info" 
    [(visible)]="displayModal" 
    [modal]="true" 
    [style]="{width: '50vw'}"
    [draggable]="false" 
    [resizable]="false">

    <p class="m-0"><b>Time played:</b> {{ timePlayed }}</p>
    <p class="m-0 mt-2"><b>Price to pay:</b> {{ priceToPay }}</p>

    <div class="w-full mt-5">
        <p-inputNumber
            [(ngModel)]="manualPriceToPay"
            [showButtons]="true"
            [format]="false"
        ></p-inputNumber>
    </div>

    <ng-template pTemplate="footer">
        <p-button 
            icon="pi pi-check" 
            (click)="sendStop()" 
            label="Ok" 
            [disabled]="disabledModalBtn"
        ></p-button>
    </ng-template>
</p-dialog>