<div class="console mt-2 shadow-md">
    <div class="label">
        <h1>PS1</h1>
    </div>

    <div class="info">
        <div class="model">Model: <b>PS5/PS4</b></div>
        <div class="total">100hrs</div>
    </div>

    <div class="buttons">
        <button
            pButton
            icon="pi pi-eye"
        ></button>
        <button
            pButton
            icon="pi pi-pencil"
        ></button>
        <button
            pButton
            icon="pi pi-trash"
        ></button>
    </div>
</div>