<div class="console mt-2 shadow-md">
    <div class="label">
        <h1>{{ console.name }}</h1>
    </div>

    <div class="info">
        <div class="model">Модел: <b>{{ console.model }}</b></div>
        <div 
            *ngIf="console.overall_time_played"
            class="total"
        >{{ console.overall_time_played }} часа</div>
    </div>

    <div class="buttons">
        <!-- <button
            pButton
            icon="pi pi-eye"
        ></button> -->
        <button
            pButton
            icon="pi pi-pencil"
            (click)="goToEdit()"
        ></button>
        <button
            pButton
            icon="pi pi-trash"
            (click)="delete()"
        ></button>
    </div>
</div>

<p-confirmDialog 
    header="Потврди" 
    icon="pi pi-exclamation-triangle"
    acceptLabel="Да"
    rejectLabel="Не"
></p-confirmDialog>