<div class="w-full h-full p-2">
    <div class="card">
        <div class="form-group">
            <div class="label">
                <label>Price/hr:</label>
            </div>
            <div class="input">
                <input type="text" pInputText placeholder="price/hr...">
            </div>
        </div>
    </div>

    <div class="flex justify-center align-center mt-3">
        <button
            pButton
            icon="pi pi-save"
            label="Save"
        ></button>
    </div>
</div>