<div class="w-full h-full p-2" *ngIf="settingsStore.settingsState$ | async as state">
    <ng-container *ngIf="state.loaded">
        <form [formGroup]="form" (ngSubmit)="handleSubmit()">
            <div class="card">
                <div class="form-group">
                    <div class="label">
                        <label>Цена/час:</label>
                    </div>

                    <div class="input">
                        <p-inputNumber 
                            formControlName="price_per_hour"
                            [showButtons]="true"
                            [format]="false"
                        ></p-inputNumber>
                    </div>
                </div>
            </div>

            <div class="card mt-5">
                <div class="flex justify-between items-center">
                    <p>Игри</p>
                    <button
                        pButton
                        icon="pi pi-plus"
                        type="button"
                        (click)="toggleModal()"
                    ></button>
                </div>

                <ng-container *ngIf="state.gamesLoaded">
                    <div class="mt-3">
                        <p class="text-center" *ngIf="state.games.length === 0">
                            Во моментов немате додадено игри.
                        </p>

                        <app-single-game
                            *ngFor="let game of state.games"
                            [game]="game"
                            (onDelete)="deleteGame()"
                            (toEdit)="toEditGame($event)"
                        ></app-single-game>
                    </div>
                </ng-container>

                <div 
                    *ngIf="!state.gamesLoaded" 
                    class="w-full h-full flex justify-center align-center">
                    <app-spinner></app-spinner>
                </div>
            </div>
        
            <div class="flex justify-center align-center mt-5">
                <button
                    pButton
                    icon="pi pi-save"
                    label="Зачувај"
                ></button>
            </div>
        </form>
    </ng-container>

    <div 
        *ngIf="!state.loaded"
        class="w-full h-full flex justify-center align-center">
        <app-spinner></app-spinner>
    </div>
</div>

<p-dialog 
    [(visible)]="displayModal"
    [header]="header"
    [modal]="true"
    (onHide)="resetGameToEdit()">

    <form [formGroup]="gamesForm" (ngSubmit)="handleGameFormSubmit()">
        <div class="form-group">
            <label class="label">Име:</label>
            <div class="input">
                <input 
                    type="text"
                    pInputText 
                    placeholder="Име..."
                    formControlName="name">
            </div>
        </div>
    
        <div class="form-group">
            <label class="label">Година:</label>
            <div class="input">
                <input 
                    type="text" 
                    pInputText 
                    placeholder="Година..."
                    formControlName="year">
            </div>
        </div>
    
        <div class="flex justify-center align-center">
            <button 
                *ngIf="gameToEdit._id"
                pButton 
                icon="pi pi-save"
                label="Измени"
                [disabled]="!gamesForm.valid"
            ></button>
            <button 
                *ngIf="!gameToEdit._id"
                pButton 
                icon="pi pi-plus" 
                label="Додај"
                [disabled]="!gamesForm.valid"
            ></button>
        </div>
    </form>
</p-dialog>