<div class="w-full h-full p-2">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        <div class="card">
            <div class="form-group">
                <label class="label mandatory">Име:</label>
                <div class="input">
                    <input 
                        type="text" 
                        pInputText
                        placeholder="име..."
                        formControlName="name"
                    >
                </div>
            </div>
        
            <div class="form-group">
                <label class="label mandatory">Модел:</label>
                <div class="input">
                    <p-dropdown
                        [options]="consoleModelOptions"
                        placeholder="модел..."
                        [style]="{ 'width': '100%' }"
                        formControlName="model"
                        appendTo="body"
                    ></p-dropdown>
                </div>
            </div>

            <div class="form-group">
                <label class="label">Игри:</label>
                <div class="input">
                    <p-multiSelect 
                        [options]="gameOptions" 
                        [(ngModel)]="selectedGames"
                        [ngModelOptions]="{ 'standalone': true }"
                        [filter]="false"
                        placeholder="игри..."
                        [style]="{ 'width': '100%' }"
                        appendTo="body"
                        emptyMessage="Не се пронајдени игри"
                    ></p-multiSelect>
                </div>
            </div>
        </div>
            
        <div class="buttons mt-10">
            <button
                *ngIf="!editMode"
                pButton
                label="Зачувај"
                [class.p-disabled]="form.invalid"
            ></button>

            <button
                *ngIf="editMode"
                pButton
                label="Зачувај"
                [class.p-disabled]="form.invalid"
            ></button>
    
            <button
                pButton
                label="Откажи"
                (click)="cancel()"
            ></button>
        </div>
    </form>
</div>