<div 
    class="w-full h-full p-2" 
    *ngIf="consolesStore.state$ | async as state">
    <ng-container *ngIf="state.loaded">
        <app-home-console
            *ngFor="let console of state.consoles"
            [console]="console"
        ></app-home-console>

        <div 
            *ngIf="state.consoles.length === 0"
            class="w-full h-full flex flex-wrap justify-center align-center mt-20">
            <h3 class="w-full text-center">Во моментов немате додаено конзоли.</h3>

            <button
                pButton
                label="Додај конзола"
                class="w-full mt-5"
                routerLink="/new-console"
            ></button>
        </div>
    </ng-container>

    <div 
        *ngIf="!state.loaded" 
        class="w-full h-full flex justify-center align-center">
        <app-spinner></app-spinner>
    </div>
</div>