<div class="w-full h-full p-2" *ngIf="revenueStore.state$ | async as state">
    <div class="card shadow-md">
        <ng-container *ngIf="state.totalEarningLoaded">
            <div class="revenue-item">
                <div class="label">
                    <label>Денес: </label>
                </div>
                <div class="info">
                    <span><b>{{ state.totalEarning.daily_earning }}</b> МКД</span>
                </div>
            </div>

            <div class="revenue-item mt-2">
                <div class="label">
                    <label>Овој месец: </label>
                </div>
                <div class="info">
                    <span><b>{{ state.totalEarning.monthly_earning }}</b> МКД</span>
                </div>
            </div>
    
            <div class="revenue-item mt-2">
                <div class="label">
                    <label>Оваа година: </label>
                </div>
                <div class="info">
                    <span><b>{{ state.totalEarning.yearly_earning }}</b> МКД</span>
                </div>
            </div>
        </ng-container>
        <div 
            *ngIf="!state.totalEarningLoaded"
            class="w-full h-full flex justify-center align-center">
            <app-spinner></app-spinner>
        </div>
    </div>

    <div class="card mt-7 shadow-md">
        <!-- <p-tabView>
            <p-tabPanel header="Consoles">

            </p-tabPanel>

            <p-tabPanel header="Drinks">
                <div class="calendars">
                    <p-calendar
                        [(ngModel)]="day"
                        placeholder="ден..."
                        appendTo="body"
                        dateFormat="dd"
                        (onSelect)="dateChange($event, 'day')"
                    ></p-calendar>
                    <p-calendar
                        [(ngModel)]="month"
                        placeholder="месец..."
                        appendTo="body"
                        view="month"
                        dateFormat="mm"
                        (onSelect)="dateChange($event, 'month')"
                    ></p-calendar>
                </div>
                
                <div class="buttons mt-3 gap-2">
                    <button
                        pButton
                        label="Филтрирај"
                        (click)="filter()"
                    ></button>
        
                    <button
                        pButton
                        label="Ресетирај"
                        (click)="resetFilter()"
                    ></button>
                </div>
            </p-tabPanel>
        </p-tabView> -->
        <div class="calendars">
          <p-calendar
              [(ngModel)]="day"
              placeholder="ден..."
              appendTo="body"
              dateFormat="dd"
              (onSelect)="dateChange($event, 'day')"
          ></p-calendar>
          <p-calendar
              [(ngModel)]="month"
              placeholder="месец..."
              appendTo="body"
              view="month"
              dateFormat="mm"
              (onSelect)="dateChange($event, 'month')"
          ></p-calendar>
          <p-calendar
              [(ngModel)]="year"
              placeholder="година..."
              appendTo="body"
              view="year"
              dateFormat="yy"
              (onSelect)="dateChange($event, 'year')"
          ></p-calendar>
      </div>

      <div class="buttons mt-3 gap-2">
          <button
              pButton
              label="Филтрирај"
              (click)="filter()"
          ></button>

          <button
              pButton
              label="Ресетирај"
              (click)="resetFilter()"
          ></button>
      </div>

      <ng-container *ngIf="state.loaded">
          <div class="revenues mt-3">
              <p 
                class="text-center"
                *ngIf="state.revenues.length === 0">Во избраниот период немате заработка.</p>
                <app-single-revenue
                    *ngFor="let revenue of state.revenues"
                    [revenue]="revenue"
                    [mapConsole]="mapConsole"
                ></app-single-revenue>
          </div>
      </ng-container>

      <div 
          *ngIf="!state.loaded"
          class="w-full h-full flex justify-center align-center mt-10">
          <app-spinner></app-spinner>
      </div>
    </div>
</div>