/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.cp {
    cursor: pointer;
}

body {
    background-color: rgb(222 230 240);
}

.form-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 20px;

    .label {
        width: 30%;
    }
    .label.mandatory {
        padding-bottom: 5px;
        font-size: 16px;

        &:after {
            content: "*";
            color: red;
            margin-left: 4px;
        }
    }
    

    .input {
        width: 70%;

        input {
            width: 100% !important;
        }
    }
}

.card {
    width: 100%;
    padding: 15px;

    background-color: #ffffff;
    color: #000000;

    border-radius: 15px;
}

// PRIMENG

.p-button {
    background-color: #000000 !important;
    color: #ffffff !important;
    border: none;
    outline: none;
}

.p-dialog {
    width: 90vw !important;
}